@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-body: "Montserrat", sans-serif;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 7rem;
  --fs-h2: 1.3rem;
  --fs-h3: 1.1rem;
  --fs-body: 1rem;
  --ls-body: 0.1em;
  --img-pad: 0 4em;
  --mgn-btm-none: 0;
  --mgn-btm-sm: 0.8em;
  --mgn-btm-md: 1.5em;
  --mgn-btm-lg: 2em;
  --mgn-btm-xlg: 3em;
  --mgn-btm-section: 9em;
  --pad-btm-section: 9em;
  --fs-xl: 4rem;
  --bdr-radius: 0.3em;
  --bdr-radius-md: 1em;
  --clr-light: #fff;
  --clr-light-gray: #d1d1d1;
  --clr-input: #dddcdc;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #52bd97;
  --clr-accent-light: rgb(211, 245, 233);
  --clr-accent-drk: rgb(161, 214, 195);
  --clr-accent-secondary: #f52700;
}

body {
  font-family: var(--ff-body);
  line-height: 1.6;
  letter-spacing: var(--ls-body);
  color: var(--clr-accent);
  font-weight: var(--fw-light);
  // background-color: var(--clr-dark-bg);
}

a {
  color: var(--clr-accent-secondary);
  text-decoration: none;
  font-weight: var(--fw-bold);
}

.ce-chat-list {
  background-color: rgb(240, 240, 240) !important;
}

.ce-chat-title-text {
  color: white;
}

.ce-chats-container {
  background-color: var(--clr-accent-drk) !important;
  border-radius: 0 !important;
}

.ce-settings-container {
  background-color: var(--clr-accent-light);
}

.ce-active-chat-card {
  background-color: var(--clr-accent-drk) !important;
  border: none !important;
  border-bottom: 1px solid var(--clr-accent) !important;
  border-radius: 0px !important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: var(--clr-accent) !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: var(--clr-accent-light) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

.ce-person-text {
  color: #595959;
  padding-left: 62px !important;
}

/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: white;
}

.chat-title-container {
  // width: calc(100% - 36px);
  width: 100%;
  padding: 18px;
  text-align: center;
}

.chat-title {
  color: var(--clr-accent);
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: #595959;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message {
  // background-color: var(--clr-accent-drk) !important;
  color: var(--clr-light);
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;

  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  // width: calc(100% - 36px);
  width: 100%;
  padding: 18px;
  // background-color: var(--clr-accent-light);
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid var(--clr-accent);
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: none;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
}

.image-button {
  cursor: pointer;
  padding: 0px 12px;
  height: 100%;
}

.send-button {
  height: 42px;
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  cursor: pointer;
}

.send-icon {
  top: 1px;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-image: url("./images/splash-bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 5em;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  width: 90%;
  display: block;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 400px;
  ::placeholder {
    color: var(--clr-light);
    opacity: 1;
  }
  .button {
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 5em;
    background-color: var(--clr-accent);
    border: none;
    width: 90%;
    display: block;
    transition: all 0.3s;
    outline: none;
    margin-bottom: 25px;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  .gop_logo {
    width: 150%;
    margin-bottom: 3em;
  }
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;
}

.button {
  border-radius: 4px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.error {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.form-error {
  color: white;
  font-weight: var(--fw-bold);
}
